{
  "log": {
    "_recordingName": "fetchAwarenessCampaignEnrollmentShouldBuildUserRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "55e3d23d06ae3fca7addaa3c2949690e",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 21 Jan 2022 18:08:34 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "f3ff8166-7cbe-424d-8077-1a14d70cab13"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 700,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"9471\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"contactName\":\"Sam Andrus\",\"telephone\":\"801-369-2174\",\"packages\":[\"Content Control and Data Leak Prevention (Pro) [1015]\",\"Attachment Management (Site) [1004]\",\"Metadata Track and Trace (Site) [1032]\",\"Internal Email Protect [1064]\",\"Message Recovery Service (Site) [1031]\",\"Advanced MTA (Site) [1002]\",\"Stationery 1.0 (Site) [1042]\",\"Secure Email Gateway (Site) [1039]\",\"Email Encryption and Privacy (Site) [1023]\",\"Threat Remediation [1075]\",\"Attachment Protection (Site) [1056]\",\"Auto Responders (Site) [1005]\",\"URL Protection (Site) [1043]\",\"Message Recovery Service - User [1058]\",\"Impersonation Protection [1060]\",\"Content Control and Data Leak Prevention (Site) [1013]\",\"Awareness Training [1078]\",\"Mimecast Platform [1033]\",\"Attachment Protection (Pro) [1059]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "799"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 380,
      },
      {
        "_id": "84fdefc299f207f7d62590af53400626",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 21 Jan 2022 18:08:34 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "30f5eb86-88c2-4d1a-8f00-553765413e1a"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/awareness-training/campaign/get-campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2360,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"campaigns\":[{\"id\":\"eNqrVipOTS4tSs1MUbJSqrAoCwhwszAuyvYKyglx8SwOCzbwdTQLc43RD_bNLMj2DwxNCaoyinDOMXKL0dcOSc1yKXcMCXcLjNHPdLfMKct3KVDSUUouLS7Jz00tSs5PSQUa6hwa7Ghs6mhiYAyUK0stKs7Mz1OyMtRRyk0siU9OzC1IzEzPiwfZb2RoUQsAPnkuZg\",\"name\":\"J1 Test Campaign\",\"title\":{\"id\":\"eNoVzLsKgzAUgOF3OWsc6m3QzQZLoRKUKo6i8bQNmMRLkoKl7147_nzwf0D2pjPCTNiJEdIo8GBDblf8F9QtG0Rc-beFFeXywp5yxUg-N2yg_FnPV5sY175z114qwnalHkUSElnu58BRQSbwgNvNaIkr1yMeR9rcszDOolN4mMN1E1pB6n9_bJstAQ\",\"title\":\"For_the_Kids\",\"titleForCustomModule\":false,\"correctAnswers\":{\"forQuestion1\":1},\"defaultGifs\":{\"correctGif\":\"http://i.giphy.com/1rO0z0NXSLoiX6iGGQ.gif\",\"incorrectGif\":\"http://i.giphy.com/YlIowPsl7P5BLYp09b.gif\"}},\"group\":{\"id\":\"eNoVzrsOgjAYQOF3-VcYqMWhbEAwGgU1irBCL4ZYWtLSmmB8d3E_-XI-YDl1hg8MElAOZUuJxBEfSPuK3IO3ZX8uprrqc_q8T3tHZt-8C9_srkG1KCVOBAfjZck2Ph8CCSFI1k2QiE5aHgJ1dtYjN1QzvvJ5fUvxNo0jvIaeGztoBQkKQWjJuPkvYIKjGH1_swowXw\",\"description\":\"Integration\",\"source\":\"cloud\",\"parentId\":\"eNoVzkELgjAYgOH_8l0npK1AvdkwO4QUKhJ00W3WYLqxuRVG_z27vzy8H7CcOsMFgxTC6hb1aKnf9w0uRFx4FGdP7XLdlD2hj1qfXDL79pX79nhF5TJNwznBaLwsh60nAkkIQLJOQzp00vIAqLOzGrmhivHVJ02V4X22C_Eaem6sUBOkUQCDkoyb_0P4_QHM7C9i\",\"userCount\":0,\"folderCount\":0},\"launchDate\":\"2022-01-11T23:32:00+0000\",\"createDate\":\"2022-01-11T23:25:24+0000\",\"emailCustomized\":false,\"emailMsg\":{\"body\":\"Hi [name],\\u003cbr\\u003e\\u003cbr\\u003eHere\\u0027s a security training module for you to complete.\\u003cbr\\u003e\\u003cbr\\u003e[videoposter]\\u003cbr\\u003e\\u003cbr\\u003eClick [platformlink] to watch \\\"For the Kids\\\" and see why you should never plug in a device unless you\\u0027re sure it\\u0027s safe. Then answer the knowledge question to complete your training experience.\\u003cbr\\u003e\\u003cbr\\u003eEnjoy.\\u003cbr\\u003e\\u003cbr\\u003e\",\"subject\":\"Security Awareness Module | For the Kids\"},\"numSent\":2,\"numCompleted\":1,\"allOtherCampaigns\":{},\"locked\":false,\"percentComplete\":50,\"percentCorrect\":100,\"numCorrectAnswers\":{\"forQuestion1\":1}},{\"id\":\"eNqrVipOTS4tSs1MUbJSKvQw8_GL0fcuzQ52C3YrM02uDArPdQo0C3ON0Q_2zSzI9g8MTQmqMopwzjFyi9HXDknNcil3DAl3C4zRz3S3zCnLdylQ0lFKLi0uyc9NLUrOT0kFmuocGuxobOpoYmAMlCtLLSrOzM9TsjLUUcpNLIlPTswtSMxMz4sHOcDI0LIWAIOBLvE\",\"name\":\"Another Campaign\",\"title\":{\"id\":\"eNqrVspNLIkvySzJSY3PTFGyMjXSUSpOTS4tSgXxlLLSggw9As2MjYOSi5wsqpL8LZxcTFJdC0L9kpyT00MKPEotS8rCy13Lwt0Ctf2q8vLSfCyNtXMDqpyMypwztXOUdJSSS4tL8nNTi5LzU1KBJjqHBjsamzqaGBgD5cpSi4oz8_OUrAxrATG6LGA\",\"title\":\"The_Test_Data\[...]
