{
  "log": {
    "_recordingName": "clientId-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c2576ca5658686953257737013c6a56b",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Sat, 05 Mar 2022 00:02:12 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "b91bf655-c27a-42f8-95c5-cbc41fdcb960"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 133,
            "text": "{\"meta\":{\"status\":401},\"data\":[],\"fail\":[{\"errors\":[{\"code\":\"err_xdk_invalid_signature\",\"message\":\"0004 Invalid Signature\",\"retryable\":false}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4999"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
