{
  "log": {
    "_recordingName": "fetchUsersShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "55e3d23d06ae3fca7addaa3c2949690e",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Wed, 12 Jan 2022 18:45:25 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "6462b10d-a26a-48f8-8309-3d0a31fecd6e"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 677,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"9645\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"packages\":[\"Attachment Protection (Site) [1056]\",\"Auto Responders (Site) [1005]\",\"Internal Email Protect [1064]\",\"Stationery 1.0 (Site) [1042]\",\"Email Encryption and Privacy (Site) [1023]\",\"Message Recovery Service (Site) [1031]\",\"Content Control and Data Leak Prevention (Pro) [1015]\",\"Mimecast Platform [1033]\",\"URL Protection (Site) [1043]\",\"Secure Email Gateway (Site) [1039]\",\"Attachment Protection (Pro) [1059]\",\"Content Control and Data Leak Prevention (Site) [1013]\",\"Awareness Training [1078]\",\"Threat Remediation [1075]\",\"Message Recovery Service - User [1058]\",\"Impersonation Protection [1060]\",\"Advanced MTA (Site) [1002]\",\"Metadata Track and Trace (Site) [1032]\",\"Attachment Management (Site) [1004]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "797"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      },
      {
        "_id": "a09ffbccee2909443b2542e4b92146a4",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Wed, 12 Jan 2022 18:45:25 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "297b8030-37f8-4191-a59c-5a22b0f78eba"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/domain/get-internal-domain"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 621,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"id\":\"eNoVzbsOgjAYQOF3-VdIsFyVrRbRRUkF1IGFtE2sFEpAatD47uJ8ku98YBRsGoTkEMO6OQTSqCAjtLZO83ZWd45peNlVTn6UfZPRkp_f7o0oN60cqxCP5IWLa0orR-43yuikBxvYND51KwamuVhQUubYC7C_8pZmxDBK3UGMbOC6rWX3HyPkoyiM0PcH8kUs4w\",\"domain\":\"jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzc0KgkAUQOF3udsEHX_J3aRpmxJzzAI34VxyTB1x0qjo3bP1ge98QGE1jSg4-NDTHR4uccPqm3oZG16znCTUPW1LPduL4Z6kOT--zXPQmlGprxg24ZOyIkpLXcTrdpbhABpUk3rIDsdKclzQIM-o5VDbsJY246iE7MEnGnDZXUX_HxNiE8_1nO8P_iks9w\",\"domain\":\"journal.jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzU0LgjAcgPHv8r9OcNNM8iY6u6RiOovwEtuIlTqZb1D03bPzA7_nA6Pks5FKQAAnhFBG4x7VU-rnOGPdja6PfU0bu0zV8MoLJs5v5xq1TtLYqJLPeA2rS1I0tjoe2kXHA1jA53HSnTRcC7mhEStD1wt32N3aIs2[...]
