{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fdda5fc34bf9b30be3d04b9da9d85e97",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Sat, 05 Mar 2022 00:02:11 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "7789f95a-eaf5-44d1-a29b-241b802cdb04"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 736,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"311C\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"exgestAllowQuery\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"contactName\":\"Sam Andrus\",\"telephone\":\"801-369-2174\",\"packages\":[\"Mimecast Platform [1033]\",\"Message Recovery Service (Site) [1031]\",\"URL Protection (Site) [1043]\",\"Content Control and Data Leak Prevention (Pro) [1015]\",\"Email Encryption and Privacy (Site) [1023]\",\"Threat Remediation [1075]\",\"Attachment Protection (Pro) [1059]\",\"Stationery 1.0 (Site) [1042]\",\"Impersonation Protection [1060]\",\"Internal Email Protect [1064]\",\"Awareness Training [1078]\",\"Advanced MTA (Site) [1002]\",\"Attachment Management (Site) [1004]\",\"Content Control and Data Leak Prevention (Site) [1013]\",\"BYO: Threat Intelligence [1089]\",\"Secure Email Gateway (Site) [1039]\",\"Auto Responders (Site) [1005]\",\"Attachment Protection (Site) [1056]\",\"Metadata Track and Trace (Site) [1032]\",\"Message Recovery Service - User [1058]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "799"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 251,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
