{
  "log": {
    "_recordingName": "fetchAccountDetailsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "55e3d23d06ae3fca7addaa3c2949690e",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Wed, 12 Jan 2022 18:45:25 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "cab98e2e-542f-40ac-bac6-f6a6b2b1129a"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 672,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"9645\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"packages\":[\"Threat Remediation [1075]\",\"Secure Email Gateway (Site) [1039]\",\"Content Control and Data Leak Prevention (Pro) [1015]\",\"URL Protection (Site) [1043]\",\"Impersonation Protection [1060]\",\"Attachment Protection (Site) [1056]\",\"Awareness Training [1078]\",\"Content Control and Data Leak Prevention (Site) [1013]\",\"Message Recovery Service (Site) [1031]\",\"Metadata Track and Trace (Site) [1032]\",\"Auto Responders (Site) [1005]\",\"Message Recovery Service - User [1058]\",\"Mimecast Platform [1033]\",\"Attachment Protection (Pro) [1059]\",\"Email Encryption and Privacy (Site) [1023]\",\"Stationery 1.0 (Site) [1042]\",\"Advanced MTA (Site) [1002]\",\"Attachment Management (Site) [1004]\",\"Internal Email Protect [1064]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "799"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
