{
  "log": {
    "_recordingName": "fetchUsersShouldBuildDomainRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fdda5fc34bf9b30be3d04b9da9d85e97",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 04 Mar 2022 23:26:59 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "dfd5bea5-0588-473b-a148-c59ccd6f43d5"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 731,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"311C\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"exgestAllowQuery\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"contactName\":\"Sam Andrus\",\"telephone\":\"801-369-2174\",\"packages\":[\"Message Recovery Service - User [1058]\",\"Awareness Training [1078]\",\"Message Recovery Service (Site) [1031]\",\"Threat Remediation [1075]\",\"Metadata Track and Trace (Site) [1032]\",\"Secure Email Gateway (Site) [1039]\",\"Email Encryption and Privacy (Site) [1023]\",\"Auto Responders (Site) [1005]\",\"Content Control and Data Leak Prevention (Pro) [1015]\",\"BYO: Threat Intelligence [1089]\",\"Attachment Management (Site) [1004]\",\"Attachment Protection (Pro) [1059]\",\"URL Protection (Site) [1043]\",\"Impersonation Protection [1060]\",\"Mimecast Platform [1033]\",\"Advanced MTA (Site) [1002]\",\"Stationery 1.0 (Site) [1042]\",\"Attachment Protection (Site) [1056]\",\"Internal Email Protect [1064]\",\"Content Control and Data Leak Prevention (Site) [1013]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "784"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3687"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      },
      {
        "_id": "80c7216c9c82ef2eb64441a612545fff",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 04 Mar 2022 23:26:59 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "042d894f-1e64-4560-9f0c-3d3ca6ae18cd"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/domain/get-internal-domain"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 622,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"id\":\"eNoVzU0LgjAcgPHv8r9OcNNM8iY6u6RiOovwEtuIlTqZb1D03bPzA7_nA6Pks5FKQAAnhFBG4x7VU-rnOGPdja6PfU0bu0zV8MoLJs5v5xq1TtLYqJLPeA2rS1I0tjoe2kXHA1jA53HSnTRcC7mhEStD1wt32N3aIs2odA8BsUDo7q76_5gQDzs-wd8fksUsFA\",\"domain\":\"fake.jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzc0KgkAUQOF3udsEHX_J3aRpmxJzzAI34VxyTB1x0qjo3bP1ge98QGE1jSg4-NDTHR4uccPqm3oZG16znCTUPW1LPduL4Z6kOT--zXPQmlGprxg24ZOyIkpLXcTrdpbhABpUk3rIDsdKclzQIM-o5VDbsJY246iE7MEnGnDZXUX_HxNiE8_1nO8P_iks9w\",\"domain\":\"journal.jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzbsOgjAYQOF3-VdIsFyVrRbRRUkF1IGFtE2sFEpAatD47uJ8ku98YBRsGoTkEMO6OQTSqCAjtLZO83ZWd45peNlVTn6UfZPRkp_f7o0oN60cqxCP5IWLa0orR-43yuikBxvYND51KwamuVhQUubYC7C_8pZmxDB[...]
