{
  "log": {
    "_recordingName": "fetchUsersShouldBuildDomainRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "55e3d23d06ae3fca7addaa3c2949690e",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 21 Jan 2022 18:15:06 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "0953f402-1673-4cfb-90b2-86f3710fbff1"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 700,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"region\":\"us\",\"archive\":false,\"gateway\":true,\"passphrase\":\"\",\"supportCode\":\"9471\",\"maxRetention\":30,\"maxRetentionConfirmed\":true,\"minRetentionEnabled\":false,\"automatedSegmentPurge\":true,\"type\":\"full\",\"policyInheritance\":false,\"databaseCode\":\"usterm9\",\"searchReason\":false,\"contentAdministratorDefaultView\":\"Metadata\",\"adminSessionTimeout\":60,\"exportApi\":false,\"accountCode\":\"CUSA35A403\",\"accountName\":\"POC - API - JupiterOne\",\"adminEmail\":\"\",\"contactEmail\":\"sam.andrus@jupiterone.com\",\"domain\":\"\",\"userCount\":10,\"mimecastId\":\"01-0035-00403\",\"contactName\":\"Sam Andrus\",\"telephone\":\"801-369-2174\",\"packages\":[\"Content Control and Data Leak Prevention (Site) [1013]\",\"Stationery 1.0 (Site) [1042]\",\"Content Control and Data Leak Prevention (Pro) [1015]\",\"Metadata Track and Trace (Site) [1032]\",\"Message Recovery Service - User [1058]\",\"Mimecast Platform [1033]\",\"Threat Remediation [1075]\",\"Secure Email Gateway (Site) [1039]\",\"Attachment Management (Site) [1004]\",\"Email Encryption and Privacy (Site) [1023]\",\"Attachment Protection (Pro) [1059]\",\"Advanced MTA (Site) [1002]\",\"URL Protection (Site) [1043]\",\"Attachment Protection (Site) [1056]\",\"Awareness Training [1078]\",\"Internal Email Protect [1064]\",\"Message Recovery Service (Site) [1031]\",\"Auto Responders (Site) [1005]\",\"Impersonation Protection [1060]\"]}],\"fail\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "799"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "928"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 381,
      },
      {
        "_id": "a09ffbccee2909443b2542e4b92146a4",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Fri, 21 Jan 2022 18:15:06 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "cc59a17a-ff1d-4817-a92e-4786b4e10b1f"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/domain/get-internal-domain"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 622,
            "text": "{\"meta\":{\"status\":200},\"data\":[{\"id\":\"eNoVzU0LgjAcgPHv8r9OcNNM8iY6u6RiOovwEtuIlTqZb1D03bPzA7_nA6Pks5FKQAAnhFBG4x7VU-rnOGPdja6PfU0bu0zV8MoLJs5v5xq1TtLYqJLPeA2rS1I0tjoe2kXHA1jA53HSnTRcC7mhEStD1wt32N3aIs2odA8BsUDo7q76_5gQDzs-wd8fksUsFA\",\"domain\":\"fake.jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzc0KgkAUQOF3udsEHX_J3aRpmxJzzAI34VxyTB1x0qjo3bP1ge98QGE1jSg4-NDTHR4uccPqm3oZG16znCTUPW1LPduL4Z6kOT--zXPQmlGprxg24ZOyIkpLXcTrdpbhABpUk3rIDsdKclzQIM-o5VDbsJY246iE7MEnGnDZXUX_HxNiE8_1nO8P_iks9w\",\"domain\":\"journal.jupiterone.mime-api.com\",\"sendOnly\":false,\"local\":false,\"inboundType\":\"known\"},{\"id\":\"eNoVzbsOgjAYQOF3-VdIsFyVrRbRRUkF1IGFtE2sFEpAatD47uJ8ku98YBRsGoTkEMO6OQTSqCAjtLZO83ZWd45peNlVTn6UfZPRkp_f7o0oN60cqxCP5IWLa0orR-43yuikBxvYND51KwamuVhQUubYC7C_8pZmxDB[...]
