{
  "log": {
    "_recordingName": "appId-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c2576ca5658686953257737013c6a56b",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Sat, 05 Mar 2022 00:03:37 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "d9e154f8-7495-408b-b866-1f47f6476224"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{\"data\":[]}"
          },
          "queryString": [],
          "url": "https://us-api.mimecast.com/api/account/get-account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 140,
            "text": "{\"meta\":{\"status\":200},\"data\":[],\"fail\":[{\"errors\":[{\"code\":\"err_developer_key\",\"message\":\"App ID is invalid: INVALID\",\"retryable\":false}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "800"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "799"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "5000"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      },
      {
        "_id": "c2576ca5658686953257737013c6a56b",
        "request": {
          "headers": [
            {
              "name": "x-mc-date",
              "value": "Sat, 05 Mar 2022 00:03:37 UTC"
            },
            {
              "name": "x-mc-req-id",
              "value": "d9e154f8-7495-408b-b866-1f47f6476224"
            },
            {
              "name": "x-mc-app-id",
              "value": "[REDACTED]"
            },
            {
              "name[...]
